@charset "UTF-8";
@import "../core/mixins";
@import "../core/variables";



/***
====================================
    HERO SECTION
====================================
***/
.hero{

    z-index:0;
    position:relative;
    height:100vh;

    &__inner{
        @include is-sp{
            padding:0;
        }
    }
    &__blur{
        background:url(../../../public/img/common/bg_hero.png);
        background-size:cover;
        background-repeat: no-repeat;
        background-position:center;
        object-fit: cover;
        position:absolute;
        z-index:-1;
        top:0;
        height: 100vh;
        width: 100vw;
        @include is-sp{
            height:110% !important;
        }
    }
    &__top{
        text-align:center;
        margin-bottom:170px;
        z-index:1;
        filter:blur(0);

        @include is-sp{
            margin-bottom:95px;
        }
    }
    &__bottom{
        @include is-sp{
            padding-bottom:59.2px;
        }
    }

    .philosophy{
        text-align:center;
        p{
            color:$colortext01;
            line-height: 2;
            font-weight: 700;
            @include is-tablet{
                @include font-line(14);
            }
        }

        &__top{
            margin-bottom:45px;
        }
    }
}

/***
====================================
    NEWS SECTION
====================================
***/
.news{
    background-image: url(../../../public/img/common/bg_news.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    &__container{
        &--top{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            span{
                font-size:$font-family;
                @include font-line(16);
                margin-top: 18.5px;
                font-weight: 700;
            }
            @include is-sp{
                padding-top: 96.6px;
            }
            @include is-tablet02{
                padding-top: 96.6px;
            }
        }
        &--bottom{
            max-width: 530px;
            padding: 0 15px;
            margin: 60px auto 0;
            .fb-frame{
                width: 100%;
            }
            .fb-icon{
                &:hover{
                    opacity:0.8;
                }
            }
            .fb-icon{
                margin-top: 25px;
                display: flex;
                align-items: center;
                padding-bottom: 90px;
                @include is-sp{
                    justify-content: center;
                }
                .facebook-page{
                    margin-left: 18px;
                }
            }
        }
    }
}

/***
====================================
    INFORMATION SECTION
====================================
***/
.information{
    height:100vh;
    &__inner{
        @include is-sp{
            margin:88px 0 84px 0;
        }
        @include is-tablet02{
            margin:88px 0 84px 0;
        }
    }
    &__top{
        text-align:center;
        margin-bottom:64.6px;
        @include is-tablet02{
            margin-bottom:54.4px;
        }
        @include is-sp{
            margin-bottom:54.4px;
        }
    }
    &__subtitle{
        margin-top:18.8px;
        p{
            font-weight:700;
            font-family:$font-family;
            margin-top: 18.5px;
            font-weight: 700;
            @include is-tablet02{
                @include font-line(14);
            }
            @include is-sp{
                @include font-line(14);
            }
        }
    }
    &__desc{
        margin-bottom:93.5px;
        p{
            @include font-line(15.7);
        }
        @include is-tablet{
            margin-bottom:12vw;
        }
        @include is-tablet02{
            @include font-line(14);
            margin-bottom:54.4px;
        }
        @include is-sp{
            margin-bottom:54.4px;
        }
    }


    .members{
        display: flex;
        justify-content: center;
        &__inner{
            display:flex;
            @include is-tablet02{
                display:block;
            }
            @include is-sp{
                display:block;
            }
        }
        p{font-family: $font-family;}
        &__left{
            margin-right:53px;
        }

    }
    .group{
        align-items: center;
        padding-top:17.6px;
        &__left{
            p{
                font-weight:700;
                color:$colortext-secondary;
                @include is-tablet{
                    font-size:2vw;
                }
                @include is-tablet02{
                    @include font-line(14);
                }
                @include is-sp{
                    @include font-line(14);
                }
            }
            width:88px;
        }
        &__right{
            p{
                @include font-line(20);
                @include is-tablet{
                    font-size:2.3vw;
                }
                @include is-tablet02{
                    @include font-line(16);
                }
                @include is-sp{
                    @include font-line(16);
                }
            }
        }

    }
}

/***
====================================
    ACTIVITIY SECTION
====================================
***/
.activity{
    background-image: url(../../../public/img/common/bg_activity.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    &__container{
        @include is-sp{
            margin-bottom: 90px;
        }
        @include is-tablet02{
            margin-bottom: 90px;
        }
        &--top{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            span{
                font-size:$font-family;
                @include font-line(16);
                font-weight: 700;
                margin: 18.5px 0 63px;
            }
            @include is-sp{
                padding-top: 100px;
            }
            @include is-tablet02{
                padding-top: 100px;
            }
        }
        &--bottom{
            .spacing{
                border-collapse: separate;
            }
            table{
                width: 100%;
                .font2{
                color: $colortext-secondary;
                white-space: nowrap;
                font-weight: 700;
                @include is-sp{
                    padding-right: 25px;
                }
                @include is-tablet{
                    padding-right: 15px;
                }
                }
                .font25{
                    color: $colortext-secondary;
                    padding-right: 70px;
                    white-space: nowrap;
                    font-weight: 700;
                    @include is-sp{
                        padding-right: 40px;
                    }
                    @include is-tablet{
                        padding-right: 35px;
                    }
                    
                }
                .txt-right{
                    text-align: right;
                }
                .font38{
                    font-weight: 700;
                    color: $colortext-secondary;
                    padding-right: 50px;
                    white-space: nowrap;
                    @include is-sp{
                        padding-right: 35px;
                    }
                }
                .padd30{
                    padding-right: 30px;
                }
                .padd35{
                    padding-right: 35px;
                }
                .padd90{
                    padding-right: 90px;
                }
                .padleft15{
                    padding-left: 15px;
                }
                .padright-95{

                    padding-right: 95px;
                    @include is-sp{
                        padding-right: 15px;
                    }
                }
                .secolor{
                    color: $colortext-secondary;
                }
                td{
                    font-family: $font-family;
                    @include font-line(18);
                    @include is-sp{
                        @include font-line(14);
                    }
                    @include is-tablet{
                        @include font-line(16);
                    }
                }
            }
        }
    }
}

/***
====================================
    PICTURES SECTION
====================================
***/
.pictures{
    width: 100%;
    margin: 0 auto;

    &__container{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        @include is-tablet{
            flex-direction: column;
        }
        .images{
            width: 50vw;
            height: 50vh;
            object-fit: cover;
            @include is-tablet{
                width: 100vw;
                height: 25vh;
            }
            @include is-sp{
                width: 100vw;
                height: 25vh;
            }
        }
    }
}

/***
====================================
    CONTACT SECTION
====================================
***/
.contact{
    height: 100vh;
    &__inner{
        text-align:center;
    }
    &__top{
        margin:93.8px 0 70.3px 0;
        // margin-bottom:70.3px;
        @include is-tablet02{
            margin:106.7px 0 54.9px 0;
        }
        @include is-sp{
            margin:106.7px 0 54.9px 0;
        }
    }
    &__subtitle{
        margin-top:18.8px;
        p{
            font-weight:700;
            font-family:$font-family;
            font-weight: 700;
            margin-top: 18.5px;
            @include is-tablet02{
                @include font-line(14);
            }
            @include is-sp{
                @include font-line(14);
            }
        }
    }


    &__number{
        a{
            line-height: 0;
            @include font-line(47);
            @include is-tablet{
                @include font-line(30);
            }
            @include is-sp{
                @include font-line(30);
            }
            font-weight:700;
            &:before{
                content:url(../../../public/img/common/contact_number.svg);
                margin-right:12.5px;
            }
            &:hover{
                opacity:0.8;
            }
        }
        margin-bottom:35px;
    }
    &__mail{
        a{
            @include font-line(25);
            @include is-tablet{
                @include font-line(18);
            }
            @include is-sp{
                @include font-line(16);
            }
            font-weight:700;
            &:before{
                content:url(../../../public/img/common/contact_mail.svg);
                margin-right:21.2px;
            }
            &:hover{
                opacity:0.8;
            }
        }
        margin-bottom:48.6px;
        @include is-tablet02{
            margin-bottom:51.2px;
        }
        @include is-sp{
            margin-bottom:51.2px;
        }
    }
    &__desc{
        margin-bottom:90px;
        font-family: $font-family;
        @include is-tablet{
            @include font-line(14);
        }
        @include is-tablet02{
            margin-bottom:83px;
        }
        @include is-sp{
            margin-bottom:83px;
        }
    }
}


/***
====================================
    OCEAN SHIGA SECTION
====================================
***/
.oceanShiga{
    background-color:$colortext-primary;
    text-align:center;
    &__inner{
        margin:80.3px 0 84.3px 0;
        @include is-tablet02{
            margin:50.3px 0 34.3px 0;
        }
        @include is-sp{
            margin:50.3px 0 34.3px 0;
        }
    }
    &__top{
        margin-bottom:42.7px;
    }
    .shiga{
        font-family: $font-family;
        &:after{
            content:url(../../../public/img/common/shiga_click.svg);
        }

        &:hover{
            opacity:0.8;
        }
    }
    p,a{
        color:$colortext01;
    }
}


