@charset "UTF-8";
@import "../core/mixins";
@import "../core/variables";






.Modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-y: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding: 0 20px;

    &__content{
        background-color:#00803E; 
        position: absolute;
        width: 80%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 30;
        h1{
            text-align: center;
            color: #fff;    
            @include font-line(41);
        }
        .rotate-90{
            transform: rotate(-90deg);
        }
        &--bottom{
            display: flex;
            align-items: center;
            flex-direction: column;
            .links{
                width: 90%;
                text-align: center;
                border-bottom: 1px solid #fff;
                margin-bottom: 40px;
                img{
                    padding-bottom: 10px;
                    height: 40px;
                    @include is-sp{
                        height: 30px;
                    }
                }
            }
        }
    }
    &__footer{
        display: flex;
        align-items: center;
        margin: 0 auto;
        width: 80%;
        padding-bottom: 40px;
        &:after{
            content:url(../../../public/img/common/shiga_click.svg);
            padding-left: 10px;
        }
    }

}
.close{
    color: #fff;
    font-weight: bold;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: 10px 10px 0 0;
    span{
        color: #fff;
        @include font-line(16);
    }
    @include is-sp{
        padding: 20px 20px 0 0;
    }
    .mg-r-6{
        margin-right: 6px;
    }
}
.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

.backtop{
    position: fixed;
    z-index:2;
    bottom:80px;
    right: 30px;
}

/***
====================================
    HERO SECTION
====================================
***/
.hero{
    overflow: hidden;
    z-index:0;
    position:relative;
    height:100vh;

    &__inner{
        @include is-sp{
            padding:0;
        }
    }
    &__blur{
        overflow: hidden;
        transform:scale(1.1);
        background:url(../../../public/img/common/bg_hero.png);
        background-size:cover;
        background-repeat: no-repeat;
        background-position:center;
        object-fit: cover;
        position:absolute;
        z-index:-1;
        top:0;
        height: 100vh;
        width: 100vw;
        @include is-sp{
            height:110% !important;
        }
    }
    &__top{
        text-align:center;
        margin-bottom:170px;
        z-index:1;
        @include is-tablet02{
            margin-bottom:95px;
        }
        @include is-tablet{
            margin-bottom:22vw;
        }
        @include is-sp{
            margin-bottom:95px;
        }
        img{
            @include is-tablet{
                width:70%;
            }
        }
    }
    &__bottom{
        @include is-sp{
            padding-bottom:59.2px;
        }
    }
    .nav-hamburger{
        display:flex;
        justify-content: flex-end;
        padding:20px 20px 57.6px 0;
        img{
            @include is-sp{
                width:16vw;
            }
        }

        
    }

    .philosophy{
        text-align:center;
        p{
            color:$colortext01;
            line-height: 2;
            font-weight: 700;
            @include is-tablet{
                @include font-line(14);
            }
        }

        &__top{
            margin-bottom:45px;
            @include is-tablet{
                margin-bottom:24px;
            }
            @include is-sp{
                margin-bottom:24px;
            }
        }
        &__bottom{
            @include is-sp{
                text-align:justify;
            }
            @include is-tablet02{
                text-align: justify;
            }
        }
    }
}

/***
====================================
    NEWS SECTION
====================================
***/
.news{
    background-image: url(../../../public/img/common/bg_news.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    @include is-tablet02{
        background-image: url(../../../public/img/common/bg_activity.png);
        background-position-x: 60%;
    }
    @include is-sp{
        background-image: url(../../../public/img/common/bg_activity.png);
        background-position-x: 60%;
    }
    &__container{
        &--top{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            span{
                font-size:$font-family;
                @include font-line(16);
                margin-top: 18.5px;
                font-weight: 700;
            }
            @include is-sp{
                padding-top: 96.6px;
            }
        @include is-tablet02{
                padding-top: 96.6px;
            }
        }
        &--bottom{
            max-width: 560px;
            padding: 0 30px;
            margin: 60px auto 0;
            .fb-frame{
                width: 100%;
            }
            .fb-icon{
                &:hover{
                    opacity:0.8;
                }
            }
            .fb-icon{
                margin-top: 25px;
                display: flex;
                align-items: center;
                padding-bottom: 90px;
                @include is-sp{
                    justify-content: center;
                }
                .facebook-page{
                    margin-left: 18px;
                }
            }
        }
    }
}

/***
====================================
    INFORMATION SECTION
====================================
***/
.information{
    height:100vh;
    &__inner{
        @include is-sp{
            margin:88px 0 84px 0;
        }
        @include is-tablet02{
            margin:88px 0 84px 0;
        }
    }
    &__top{
        text-align:center;
        margin-bottom:64.6px;
        @include is-tablet02{
            margin-bottom:54.4px;
        }
        @include is-sp{
            margin-bottom:54.4px;
        }
    }
    &__subtitle{
        margin-top:18.8px;
        p{
            font-weight:700;
            font-family:$font-family;
            margin-top: 18.5px;
            font-weight: 700;
            @include is-tablet02{
                @include font-line(14);
            }
            @include is-sp{
                @include font-line(14);
            }
        }
    }
    &__desc{
        margin-bottom:93.5px;
        p{
            @include font-line(15.7);
        }
        @include is-tablet{
            margin-bottom:12vw;
        }
        @include is-tablet02{
            @include font-line(14);
            margin-bottom:54.4px;
        }
        @include is-sp{
            margin-bottom:54.4px;
        }
    }


    .members{
        display: flex;
        justify-content: center;
        &__inner{
            display:flex;
            @include is-tablet02{
                display:block;
            }
            @include is-sp{
                display:block;
            }
        }
        p{font-family: $font-family;}
        &__left{
            margin-right:53px;
            @include is-tablet02{
                margin-right:0px;
            }
            @include is-sp{
                margin-right:0px;
            }
        }

    }
    .group{
        align-items: center;
        padding-top:17.6px;
        &__left{
            p{
                font-weight:700;
                color:$colortext-secondary;
                @include is-tablet{
                    font-size:2vw;
                }
                @include is-tablet02{
                    @include font-line(14);
                }
                @include is-sp{
                    @include font-line(14);
                }
            }
            width:68px;
        }
        &__right{
            p{
                @include font-line(20);
                @include is-tablet{
                    font-size:2.3vw;
                }
                @include is-tablet02{
                    @include font-line(16);
                }
                @include is-sp{
                    @include font-line(16);
                }
            }
        }

    }
}

/***
====================================
    ACTIVITIY SECTION
====================================
***/
.activity{
    background-image: url(../../../public/img/common/bg_activity.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    &__container{
        @include is-sp{
            margin-bottom: 90px;
        }
        @include is-tablet02{
            margin-bottom: 90px;
        }
        &--top{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            span{
                font-size:$font-family;
                @include font-line(16);
                font-weight: 700;
                margin: 18.5px 0 63px;
            }
            @include is-sp{
                padding-top: 100px;
            }
            @include is-tablet02{
                padding-top: 100px;
            }
        }
        &--bottom{
            table{
                width: 100%;
                .font2{
                color: $colortext-secondary;
                white-space: nowrap;
                font-weight: 700;
                width: 16%;
                @include is-tablet{
                    padding-right: 15px;
                }
                @include is-sp{
                    width: 20%;
                }
                }
                .font25{
                    color: $colortext-secondary;
                    white-space: nowrap;
                    font-weight: 700;
                    width: 16%;
                    @include is-tablet{
                        padding-right: 15x;
                    }
                    @include is-sp{
                        width: 20%;
                    }
                    
                }
                .txt-right{
                    text-align: right;
                    white-space: nowrap;
                }
                .font38{
                    font-weight: 700;
                    color: $colortext-secondary;
                    padding-right: 50px;
                    white-space: nowrap;

                }
                .padd30{
                    padding-right: 30px;
                }
                .padd35{
                    padding-right: 35px;
                }
                .padd90{
                    padding-right: 90px;
                }
                .padright-95{

                    padding-right: 95px;
                    @include is-sp{
                        padding-right: 15px;
                    }
                }
                .secolor{
                    color: $colortext-secondary;
                }
                td{
                    font-family: $font-family;
                    @include font-line(18);
                    @include is-sp{
                        @include font-line(14);
                    }
                    @include is-tablet{
                        @include font-line(16);
                    }
                }
            }
            .tbl3{
                display: flex;
                .left{
                    width: 20%;
                    padding-right: 15px;
                    @include is-pc{
                        width: 16%;
                    }
                    @include is-tablet03{
                        width: 16%;
                    }
                    @include is-sp{
                        width: 30%;
                    }
                    p{
                        white-space: nowrap;
                        font-family: $font-family;
                        color: $colortext-secondary;
                        font-weight: 700;
                        @include is-tablet{
                            padding-right: 15px;
                        }
                    }
                }
                .right{
                    &__li{
                        font-family: $font-family;
                        white-space: pre-line;

                        @include font-line(17);
                        @include is-sp{
                            @include font-line(14);
                        }
                        @include is-tablet{
                            @include font-line(16);
                        }
                        &:before{
                            content:"○";
                            color: $colortext-secondary;
                            display: inline-block;
                            width: 1em;
                            margin-left: -1em
                        }
                    }
                }
            }
        }
    }
}

/***
====================================
    PICTURES SECTION
====================================
***/
.pictures{
    width: 100%;
    margin: 0 auto;

    &__container{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        @include is-tablet{
            flex-direction: column;
        }
        .images{
            width: 50vw;
            height: 50vh;
            object-fit: cover;
            @include is-tablet{
                width: 100vw;
                height: 25vh;
            }
            @include is-sp{
                width: 100vw;
                height: 25vh;
            }
        }
    }
}

/***
====================================
    CONTACT SECTION
====================================
***/
.contact{
    height: 100vh;
    &__inner{
        text-align:center;
    }
    &__top{
        margin:93.8px 0 70.3px 0;
        // margin-bottom:70.3px;
        @include is-tablet02{
            margin:106.7px 0 54.9px 0;
        }
        @include is-sp{
            margin:106.7px 0 54.9px 0;
        }
    }
    &__subtitle{
        margin-top:18.8px;
        p{
            font-weight:700;
            font-family:$font-family;
            font-weight: 700;
            margin-top: 18.5px;
            @include is-tablet02{
                @include font-line(14);
            }
            @include is-sp{
                @include font-line(14);
            }
        }
    }


    &__number{
        align-items: center;
        justify-content: center;
        img{
            margin-right:12.5px;
        }
        a{
            line-height: 0;
            @include font-line(47);
            @include is-tablet{
                @include font-line(43);
            }
            @include is-sp{
                font-size:9vw;
            }
            font-weight:700;
            &:hover{
                opacity:0.8;
            }
        }
        margin-bottom:35px;
    }
    &__mail{
        align-items: center;
        justify-content: center;
        img{
            margin-right:12.5px;
            @include is-sp{
                height:16px;
            }
        }
        a{
            @include font-line(25);
            @include is-tablet{
                @include font-line(18);
            }
            @include is-sp{
                @include font-line(16);
            }
            font-weight:700;
            &:hover{
                opacity:0.8;
            }
        }
        margin-bottom:48.6px;
        @include is-tablet02{
            margin-bottom:51.2px;
        }
        @include is-sp{
            margin-bottom:51.2px;
        }
    }
    &__desc{
        margin-bottom:90px;
        font-family: $font-family;
        @include is-tablet{
            @include font-line(14);
        }
        @include is-tablet02{
            margin-bottom:83px;
        }
        @include is-sp{
            margin-bottom:83px;
        }
    }
}


/***
====================================
    OCEAN SHIGA SECTION
====================================
***/
.oceanShiga{
    background-color:$colortext-primary;
    text-align:center;
    &__inner{
        margin:80.3px 0 84.3px 0;
        @include is-tablet02{
            margin:50.3px 0 34.3px 0;
        }
        @include is-sp{
            margin:50.3px 0 34.3px 0;
        }
    }
    &__top{
        margin-bottom:15px;
    }
    .shiga{
        font-family: $font-family;
        &:after{
            content:url(../../../public/img/common/shiga_click.svg);
        }

        &:hover{
            opacity:0.8;
        }
    }
    p,a{
        color:$colortext01;
        @include is-sp{
            font-size:3.5vw;
        }
    }
}