.l-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include is-tablet {
        display: none;
        text-align: start;
        width: 0;
        background-color: rgba(0, 0, 0, .9);
        a {
            text-decoration: none;
            display: block;
            font-weight: 700;
            font-size: 22px;
            color: #fff;
            margin-top: 60px;
        }
    }
    @include is-sp {
        display: none;
        text-align: start;
        width: 0;
        background-color: rgba(0, 0, 0, .9);
        a {
            text-decoration: none;
            display: block;
            font-weight: 700;
            font-size: 22px;
            color: #fff;
            margin-top: 60px;
        }
    }
    &__links {
        text-align: center;
        padding: 22.7px 0;
        writing-mode: vertical-lr;
        border-bottom: 2px solid #fff;
        &:last-child {
            border-bottom: none;
        }
        &:hover .l-navigation__links--ja {
            box-sizing: border-box;
            border-bottom: 5px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(to left, #84FAB0 0%, #12C7FF 100%);
        }

        img{
            vertical-align: inherit;
        }
    }
}