.p-footer{
    background-color:#EFEFEF;
    &__inner{
        padding:74px 0 69.5px 0;
        display:flex;
        @include is-tablet02{
            display:block;
        }
        @include is-sp{
            display:block;
            padding:54.1px 0 54.5px 0;
        }
        p{
            font-family: $font-family;
        }
    }
    &__left,
    &__right{
        width:calc(100%/2);
        @include is-tablet02{
            width:100%;
        }
        @include is-sp{
            width:100%;
        }
    }

    &__left{
        align-items: center;
        justify-content:center;

        @include is-tablet02{
            margin-bottom:38.2px;
        }
        @include is-sp{
            margin-bottom:38.2px;
        }
        img{
            &:hover{
                opacity:0.8;
            }
        }
    }

    .info{
        @include is-tablet02{
            text-align: center;
        }
        @include is-sp{
            text-align: center;
        }

        &__title{
            font-weight:700;
        }
        &__desc{
            // @include font-line(12);
        }
        &__hr{
            background-color:#B7B7AD;
            margin:33.1px auto 23.9px auto;

            @include is-tablet02{
                width:80%;
            }
            @include is-sp{
                width:80%;
            }
        }
        
    }

    .navigation{
        &__ul{
            @include is-tablet02{
                justify-content: center;
            }
            @include is-sp{
                justify-content: center;
            }
        }
        &__li{
            p{
                line-height: 1;
                &:hover{
                    opacity:0.8;
                }
            }
        }
        &__li:nth-child(1){
            padding-right:18.2px;
        }
        &__li:nth-child(2){
            p{
                border-left:1px solid $colortext-primary;
                border-right:1px solid $colortext-primary;
                padding:0 18.4px 0 18.4px;
            }
        }
        &__li:nth-child(3){
            padding-left:18.2px;
        }
    }
    .shigaLink{
        p{
            &:hover{
                opacity:0.8;
            }
        }
        @include is-tablet02{
            text-align: center;
        }
        @include is-sp{
            text-align: center;
        }
    }

    .copyright{
        text-align:center;
        background-color:$colortext-secondary;
        img{
            @include is-sp{
                width:80vw;
            }
        }
        padding:18.2px 0 16.2px 0;
    }
}