.p-footer{
    background-color:#EFEFEF;
    &__inner{
        padding:70px 0;
        display:flex;
        @include is-tablet02{
            display:block;
        }
        @include is-sp{
            display:block;
        }
        p{
            font-family: $font-family;
        }
    }
    &__left,
    &__right{
        width:calc(100%/2);
        @include is-tablet02{
            width:100%;
        }
        @include is-sp{
            width:100%;
        }
    }

    &__left{
        align-items: center;
        justify-content:center;

        @include is-tablet02{
            margin-bottom:38.2px;
        }
        @include is-sp{
            margin-bottom:38.2px;
        }
    }

    .info{
        @include is-tablet02{
            text-align: center;
        }
        @include is-sp{
            text-align: center;
        }

        &__title{
            font-weight:700;
        }
        &__desc{
            // @include font-line(12);
        }
        &__hr{
            background-color:#B7B7AD;
            margin:33.1px auto 23.9px auto;

            @include is-tablet02{
                width:80%;
            }
            @include is-sp{
                width:80%;
            }
        }
        
    }

    .navigation{
        &__ul{
            justify-content:center;
        }
        &__li{}
        &__li:nth-child(1){
            padding-right:18.2px;
        }
        &__li:nth-child(2){
            border-left:1px solid $colortext-primary;
            border-right:1px solid $colortext-primary;
            padding:0 18.4px 0 18.4px;
        }
        &__li:nth-child(3){
            padding-left:18.2px;
        }
    }
    .shigaLink{
        @include is-tablet02{
            text-align: center;
        }
        @include is-sp{
            text-align: center;
        }
    }

    .copyright{
        text-align:center;
        background-color:$colortext-secondary;
        p,a{
            color:$colortext01;
            @include font-line(14);
        }
        padding:18.2px 0 16.2px 0;
    }
}